* {
  box-sizing: border-box;
}

body {
  background: #fdfdfd;
  position: fixed;
  background-image: url('laboratory.jpg');
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding-top: 60px;
  margin: 0 auto;
}

.mainholder {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  position: absolute;
  justify-content: flex-start;
  
}

#big-ghost{
  background-color:rgba(239, 28, 190, 0.6);
  border:1px solid #aaf81a;
  position:absolute;
}

.ghost-active {
  display: block !important;
}

.ghost-select > span {
  background-color: rgba(239, 28, 190, 0.6);
  border: 1px solid #b20e8c;
  width: 100%;
  height: 100%;
  float: left;
}

#grid {
  width: 100%;
  height: 100%;
  position: absolute;
}

.ghost-select {
  display: none;
  z-index: 9000;
  position: absolute !important;
  cursor: default !important;
}

.colordisplay{
  width: 75%;
}

.colorcount{
  text-align: right;
  width: 25%;
}

.canvas-holder{
  padding: auto;
  width: 40vw;
  height: 100vh;
}

.color-table{
  height: auto;
}

.color-scroll{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;


}

.color-repeater{
  display: flex;
  flex-direction: row;
}



colorlist {
  width: 50px;
}



@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
